body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Titillium Web", sans-serif;
    color: var(--grey-text);
    background-color: var(--outer-blackness);
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 900px;
}
header{
    background-color: var(--outer-blackness);
    /* padding: 0 20px; */
    height: 43px;
    line-height: 43px;
}
footer {
    /* height: 43px; */
    background-color: var(--outer-blackness);
}

:root {
    --outer-blackness: #000000;
    --inner-blackness: #151515;
    --gold-text: #E8BA3F;
    --grey-text: #DEDEDE;
    --info-text: #969696;
}

b, strong {
    font-family: "Times New Roman", serif;
}

a, a:active {
    color: #008D8D;
    text-decoration: none;
}

a:hover {
    color: #21D8D8;
    text-decoration: none;
}

code {
    font-size: 14px;
    padding: 0px 2px;
    vertical-align: middle;
}

li {
    margin-bottom: 6px;
}

div#logo a {
    color: var(--gold-text);
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

header nav {
    text-align: right;
}

header nav a {
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
}

footer {
    color: var(--info-text);
    font-size: 12px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

p.info, p.info time {
    color: var(--info-text);
    font-size: 14px;
    font-style: italic;
}

main {
    flex: 1;
    background-color: var(--inner-blackness);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

input[type="button"] {
    background-color: #375A7F;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input[type="button"]:hover {
    background-color: #2B4764;
}

input[type="button"]:not(:disabled) {
    cursor: pointer;
}

.fas {
    height: 30px;
    width: 30px;
}

p .fas {
    vertical-align: middle;
    filter: invert(97%) sepia(0%) saturate(72%) hue-rotate(125deg) brightness(118%) contrast(74%);
}

a .fas {
    vertical-align: middle;
    filter: invert(28%) sepia(87%) saturate(1552%) hue-rotate(155deg) brightness(103%) contrast(100%);
}

a:hover .fas {
    filter: invert(61%) sepia(100%) saturate(377%) hue-rotate(129deg) brightness(99%) contrast(86%);
}

blockquote {
    background-color: var(--outer-blackness);
    margin: 0;
    padding: 16px 40px;
}

#distribution {
    line-height: 1.8;
    color: var(--grey-text);
}
pre{
    line-height: 1.6;
    background-color: var(--outer-blackness);
    padding: 5px 10px;
}

.table-of-content {
    padding-right: 20px;
    display: inline-block;
    border: 1px solid;
}

.touch-menu {
    display: none;
}
@media screen and  (min-device-width: 320px) and (max-device-width: 480px) {
    body{
        width: 100%;
    }
    p,pre{
        word-break: break-all;
    }
    #logo{
        padding-left: 10px;
    }
    footer{
        padding-right: 10px;
    }
    header nav {
        position: absolute;
        top: 43px;
        right: 0;
        background-color: var(--outer-blackness);
        text-align: left;
        padding-right: 10px;
        display: none;
    }
    header nav a {
        display: block;
        font-size: 14px;
    }
    .touch-menu {
        display: block;
    }
    .touch-menu button{
        position: absolute;
        right: 3px;
        top: 5px;
        background: transparent;
        border: none;
    }
    pre {
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }
}
