main {
    text-align: center;
}
main h1 {
    margin-top: 75px;
}
.logo{
    margin: 40px 0;
}
.download_link, .download_link:hover{
    background: var(--outer-blackness);
    display: inline-block;
    line-height: 36px;
    padding: 0 20px;
    color: var(--gold-text);
}
.point{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.point div{
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid;
}
blockquote {
    margin: 10px 10px 20px;
    padding: 26px 0;
}
