---
lastmod: 2024-01-26
canonicalUrl: /
title: Zero-Knowledge Finance Application Platform
titleOnlyInHead: 1
additionalHeadTag: |
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <script type="application/ld+json">
  [
    {
      "@context": "https://schema.org",
      "@id": "https://blacknet.ninja/#web-site",
      "@type": "WebSite",
      "name": "Blacknet",
      "alternateName": "BLN",
      "url": "https://blacknet.ninja/"
    },
    {
      "@context": "https://schema.org/",
      "@id": "https://blacknet.ninja/#image-object-logo",
      "@type": "ImageObject",
      "contentUrl": "https://blacknet.ninja/images/logo.webp",
      "creator": { "@id": "https://blacknet.ninja/team/zaphod42.html#person" },
      "creditText": "Blacknet Team",
      "datePublished": "2019-03-21T09:43:50Z",
      "description": "Blacknet logotype"
    }
  ]
  </script>
---

<h1>Blacknet: Decentralized Zero-Knowledge Finance Application Platform with Proof of Stake Consensus</h1>

<div class="logo"><img height="160" width="160" src="/images/logo.webp" alt="Logo"></div>

<a class="download_link" href="/wallet.html">Download Blacknet Wallet</a>

<div class="point">
    <div>
        <b>Zero-Knowledge</b>
        <br>Don't reveal, prove.
    </div>
    <div>
        <b>Verifiable Computation</b>
        <br>Compute once, verify everywhere.
    </div>
    <div>
        <b>Cryptocurrency</b>
        <br>Be your own bank.
    </div>
    <div>
        <b>Proof of Stake</b>
        <br>Work was created to provide a distribution for holders to stake.
    </div>
</div>

<blockquote>
    Enter a primordial black hole.
</blockquote>
