---
lastmod: 2020-10-14
title: Generate Wallet Offline
---

<script type="module" src="/js/blacknet.js"></script>
<script type="text/javascript">
function bufferToHex(buffer) {
    return Array
        .from (new Uint8Array (buffer))
        .map (b => b.toString (16).padStart (2, "0"))
        .join ("");
}
function generate() {
	let mnemonic = window.blacknet_mnemonic();
	let kp = window.blacknet_mnemonic_keypair(mnemonic);
	let account = window.blacknet_pk_account(kp.publicKey);
	document.getElementById('account').value = account;
	document.getElementById('pubkey').value = bufferToHex(kp.publicKey);
	document.getElementById('mnemonic').value = mnemonic;
}
</script>

<p>
This page is an offline wallet generator for Blacknet.
It is written in HTML with JavaScript and CSS, and does not send network requests after load, so can work in an offline environment.
The source of the entropy is the cryptographically strong PRNG of the web browser.
Save the newly generated mnemonic phrase before using a new wallet.
Typically, you need one wallet, a second one could be a cold storage wallet.
</p>

<input onclick="generate();" value="Generate new wallet" type="button">

<p>Account address<br>
<input type="text" readonly="readonly" style="width:100%" id="account">
</p><p>Public key<br>
<input type="text" readonly="readonly" style="width:100%" id="pubkey">
</p><p>Mnemonic<br>
<input type="text" readonly="readonly" style="width:100%" id="mnemonic">
</p>
