---
lastmod: 2025-02-10
title: The Proof of Stake Network
titleOnlyInHead: 1
additionalHeadTag: |
  <script type="application/ld+json">
  [
    {
      "@context": "https://schema.org",
      "@id": "https://blacknet.ninja/specs.html#tech-article",
      "@type": "TechArticle",
      "author": { "@id": "https://blacknet.ninja/team/rat4.html#person" },
      "datePublished": "2018-07-09T17:16:47Z",
      "dateModified": "2024-07-07T09:31:32Z",
      "headline": "Extensible Proof of Stake Network",
      "image": { "@id": "https://blacknet.ninja/specs.html#image-object-network" }
    },
    {
      "@context": "https://schema.org/",
      "@id": "https://blacknet.ninja/specs.html#image-object-network",
      "@type": "ImageObject",
      "contentUrl": "https://blacknet.ninja/images/network.webp",
      "creator": { "@id": "https://blacknet.ninja/team/rat4.html#person" },
      "creditText": "Blacknet Team",
      "datePublished": "2024-04-02T16:21:33Z",
      "description": "A creative interpretation of extensible proof of stake network"
    },
    {
      "@context": "https://schema.org",
      "@id": "https://blacknet.ninja/specs.html#scholarly-article-blacklemon",
      "@type": "ScholarlyArticle",
      "author": { "@id": "https://blacknet.ninja/team/rat4.html#person" },
      "datePublished": "2025-02-10T16:43:21Z",
      "headline": "BlackLemon: Snake-eye Resistance with Short Secrets",
      "url": "https://blacknet.ninja/blacklemon.pdf"
    }
  ]
  </script>
---

<h1>Specifications</h1>

<img height="200" width="200" src="/images/network.webp" alt="Extensible proof of stake network" style="float: right; margin-left: 10px;">

<p>
Blacknet instantiates the asynchronous proof of stake consensus mechanism.
An asynchronous consensus is the optimum in terms of decentralization.
Proof of stake is based on a digital scarcity, not physical resources, and thereby escapes the mass–energy arbitrage due to E=mc².
</p>
<p>
<a href="/staking.html">Cold staking and pooled staking</a> were implemented in Blacknet proof of stake version 4.
</p>

<h2>Features</h2>
<ul>
    <li>Ticker symbol: BLN</li>
    <li>Log structure: blockchain</li>
    <li>Target block time: <time datetime="PT16S">16 seconds</time></li>
    <li>Block size: dynamic</li>
    <li>Supply: 1% inflation</li>
    <li>Initial distribution: <a href="/burn.html">IBO</a></li>
    <li>Launch date: <time datetime="2018-12-23T09:00:00Z">23 Dec 2018 09:00:00 UTC</time></li>
</ul>
<p>
Platform features are in development.
</p>

<h2>Planned Features</h2>
<ul>
    <li>Fungible and non-fungible tokens</li>
    <li>Zero-knowledge applications (<a href="/zero-knowledge-application.html">zApps</a>)</li>
    <li>Two-way communication between applications</li>
</ul>
<p>
Block version signalling by active stakers may be used for protocol upgrades.
</p>

<h2>Future Research Directions</h2>
<ul>
    <li>Post-quantum</li>
    <li>Multistaking</li>
    <li>BlockDAG</li>
    <li>Two-way communication between blockchains</li>
    <li>Offline transactions</li>
    <li>Succinct ledger log</li>
    <li>Stable supply</li>
    <li>Decentralized high-frequency trading</li>
    <li>Privacy-preserving staking</li>
    <li>Anonymity-enhancing staking</li>
</ul>

<h2>Papers</h2>
<ul>
    <li><a href="/blacknet-posv4.pdf">Blacknet: Asynchronous Proof of Stake</a> — <time datetime="2020-11-08">November 8, 2020</time></li>
    <li><a href="/blacklemon.pdf">BlackLemon: Snake-eye Resistance with Short Secrets</a> — <time datetime="2025-02-10">February 10, 2025</time></li>
</ul>
